cmake-build-debug
build
main.cpp
CMakeLists.txt
.idea
build-network-Desktop-Debug/
build-QTcp_client-Desktop-Debug/
authorization/sql.h
authorization/structures.h
authorization/user_sql.cpp
authorization/main.cpp
